{% extends 'base_home.html' %}
{% load static %}
{% load rest_framework %}

{% block head_add %}  
<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="stylesheet" href="{% static 'navbar.css' %}">
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}
  Hello, {{ user.first_name }} {{ user.last_name }}
  <form class="login-form flex flex-col" method="post">
    <div class="display-small">{{ form_title }}</div>
    {% csrf_token %}
    {% render_form serializer template_pack="drf_templatepack" %}
    <button type="submit" class="primary on-primary-text body-large submit-btn">Update Profile</button>
  </form>
{% endblock %}
