<nav class="surface on-surface-variant-text">
  <div class="fab-wrapper">
    <a href="{% url 'student-apply-openings' %}" class="material-symbols-rounded on-surface-variant-text primary-fab primary-container">add</a>
  </div>
  <ul>
    {% for item in navbar_routes %}
      <li>
      <a class="flex flex-col" href={% url item.named_url %}>
        <span
          class="material-symbols-rounded nav-icon {% if activetab == item.named_url %} active secondary-container on-secondary-container-text {% endif %}">
          {{item.icon}}
        </span>
        <span class="icon-label body-small on-surface-variant-text {% if activetab == item.named_url %} on-surface-text {% endif %}">
          {{item.label}}
        </span>
      </a>
      </li>
    {% endfor %}
  </ul>
</nav>
